// TIPOGRAFIA
$tp-font: monospace;

// COLORES
$bc-newsletter: #f2f4f5;

// FONT SIZES
$fs-xxx-large : 50px;
$fs-xx-large : 30px;
$fs-x-large : 20px;
$fs-large : 18px;
$fs-medium : 16px;
$fs-small : 14px;
$fs-x-small : 12px;

// BREAKPOINT
$max-phone : 639px;
// $min-tablet :768px;
$min-tablet :640px;
$min-laptop : 992px;